# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Streamlit
.streamlit/

# Data
data/uploads/*
data/processed/*
data/reports/*
data/logs/*
data/powerbi/*

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log